
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
coverage/


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.github/

# Hide local task folders from Git tracking
Task-0/
Task-1/
Task-2/
Task-3/
Task-4/
Task-5/
Task-6/
Task-7/
Task-7-Bloglist/
README.md
.DS_Store

# Hide frontend build cache
graphql-section-8/library-frontend/.vite/